.bn-editor-custom .bn-container {
  flex: 1;
}

.bn-editor-custom .bn-editor {
  padding: 48px 0 24px;
  line-height: 1.7;
}

.bn-editor-custom .bn-block-content {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}

.bn-editor-custom .bn-default-styles {
  font-size: 14px;
}

.bn-editor-custom [data-content-type="heading"] {
  --level: 1.714em;
}

.bn-editor-custom [data-content-type="heading"][data-level="2"] {
  --level: 1.429em;
}

.bn-editor-custom [data-content-type="heading"][data-level="3"] {
  --level: 1.143em;
}

.bn-editor-custom [data-content-type="heading"][data-level="4"] {
  --level: 1em;
}

.bn-editor-custom [data-content-type="heading"][data-level="5"] {
  --level: 1em;
}

.bn-editor-custom [data-content-type="heading"][data-level="6"] {
  --level: 1em;
}

.bn-editor-custom [data-prev-level="1"] {
  --prev-level: 1.714em;
}

.bn-editor-custom [data-prev-level="2"] {
  --prev-level: 1.429em;
}

.bn-editor-custom [data-prev-level="3"] {
  --prev-level: 1.143em;
}

.bn-editor-custom [data-prev-level="4"] {
  --prev-level: 1em;
}

.bn-editor-custom [data-prev-level="5"] {
  --prev-level: 1em;
}

.bn-editor-custom [data-prev-level="6"] {
  --prev-level: 1em;
}
